# ========================================
# MYSQL INFOS
# ========================================
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=transcendence
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password

# ========================================
# NGINX
# ========================================
NGINX_PORT=4443

# ========================================
# LOGIN AND DOMAIN
# ========================================
LOGIN=your_login

# ========================================
# Application Configuration
# ========================================
NODE_ENV=development
NODE_VERSION=24-alpine

# ========================================
# Port Configuration
# ========================================
APP_PORT=3000
VITE_PORT=5173
DEBUG_PORT=9229
PROD_PORT=8080

# ========================================
# Security Configuration
# ========================================
ALLOWED_ORIGINS=https://your-domain.com

# ========================================
# Production Deployment (Docker registry)
# ========================================
DOCKER_REGISTRY=ghcr.io
DOCKER_USERNAME=your-docker-username
DOCKER_REPOSITORY=your-docker-repository

# ========================================
# Authentification et JWT
# ========================================
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10

# ========================================
# Google OAuth
# ========================================
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_SECRET_ID=your_google_secret
GOOGLE_AUTH_REDIRECT=https://localhost:4443/api/auth/google/redirect

# ========================================
# 42 OAuth
# ========================================
FT_CLIENT_ID=your_42_client_id
FT_SECRET_ID=your_42_secret
FT_AUTH_REDIRECT=https://localhost:4443/api/auth/intra42/redirect

# ========================================
# Game Settings
# ========================================
BASE_ELO=400
