<div class="page">
  <div class="card">
	<div class="card-header">
	  <span class="icon">&#9812;</span>
	  <h2>Transcendence</h2>
	</div>
	<button (click)="googleAuth()">Google Authentification</button>
	<div class="tabs">
	  <button [class.active]="tab === 'login'" (click)="tab = 'login'">Se connecter</button>
	  <button [class.active]="tab === 'register'" (click)="tab = 'register'">S'inscrire</button>
	</div>
	@if (tab === 'login') {
	  <form class="form" (ngSubmit)="onLogin()">
		<div class="field">
			<label>Email</label>
			<input type="email" [(ngModel)]="email" name="email" [class.error]="emailError" />
			@if (emailError) {
				<span class="field-error">{{ emailError }}</span>
			}
		</div>
		<div class="field">
			<label>Mot de passe</label>
			<input type="password" [(ngModel)]="password" name="password" placeholder="••••••••" required />
			@if (passError) {
				<span class="field-error">{{ passError }}</span>
			}
		</div>
		<button type="submit" class="btn-submit">Connexion</button>
	  </form>
	}
	@if (tab === 'register') {
	  <form class="form" (ngSubmit)="onRegister()">
		<div class="field">
			<label>Pseudo</label>
			<input type="text" [(ngModel)]="username" name="username" placeholder="ChessPlayer42" required />
			@if (usernameError) {
				<span class="field-error">{{ usernameError }}</span>
			}
		</div>
		<div class="field">
			<label>Email</label>
			<input type="email" [(ngModel)]="email" name="email" placeholder="votre@email.com" required />
			@if (emailError) {
				<span class="field-error">{{ emailError }}</span>
			}
		</div>
		<div class="field">
			<label>Mot de passe</label>
			<input type="password" [(ngModel)]="password" name="password" placeholder="••••••••" required />
			@if (passError) {
				<span class="field-error">{{ passError }}</span>
			}
		</div>
		<button type="submit" class="btn-submit">Créer un compte</button>
		</form>
	}
	</div>
</div>
