<div class="page-wrapper">

  <!-- pieces qui flottent -->
  <div class="floating-piece">♜</div>
  <div class="floating-piece">♝</div>
  <div class="floating-piece">♛</div>
  <div class="floating-piece">♞</div>
  <div class="floating-piece">♟</div>
  <div class="floating-piece">♚</div>

  <!-- DAMIER DE FOND -->
  <div class="chessboard-bg">
    @for (cell of cells; track $index) {
      <div [style.background]="cell.light ? '#f5f0e8' : 'transparent'"></div>
    }
  </div>

  <!-- CONTENU -->
  <div class="game-content">
    @if (!selectedMode) {
      <app-game-mode-select (modeSelected)="selectMode($event)" />
    } @else {
      <app-game-header
        [mode]="selectedMode"
        [username]="(user$ | async)?.username ?? ''"
        (back)="goBack()"
      />
      <app-game-board
        [gameId]="gameId"
        [mode]="selectedMode"
        (movePlayed)="jouerCoup($event.from, $event.to)"
      />
    }
  </div>

</div>
