@if (waiting()) {
	<div>
		<p>Connexion à la partie IA...</p>
	</div>
}

@if (!waiting()) {
	@if (gameState(); as state) {
		<div>
		<app-chess
			[gameId]="gameId()"
			[mode]="'ia'"
			[myColor]="playerColor()"
			[aiLevel]="level()"
			[userName]="auth.username()"
			[externalBoard]="state.board"
			[externalTurn]="state.turn"
			[externalStatus]="state.gameStatus"
			[externalHistory]="state.moveHistory"
			[externalCaptured]="state.captured"
			[externalLastMove]="state.lastMove"
			[externalValidMoves]="state.validMoves"
			[disabled]="iaThinking()"
			(movePlayed)="onMovePlayed($event)"
			(resign)="onResign()"
		/>
		</div>
	}
}
